.today {
     padding: 15px 60px;
     display: flex;
     flex-flow: column nowrap;
     justify-content: flex-start;
     align-items: flex-start;

}

.today .animate-icon {
     margin: 0 auto;
     position: relative;

}

.today i {
     font-size: 5rem;
     color: #ffffff;

}

i.fa-cloud {
     animation: bounce 5s infinite;
     animation-timing-function: ease-in-out;
}

.animate-icon h3 {
     position: absolute;
     top: 65%;
     left: 50%;
     transform: translate(-50%, -50%);
     z-index: 2;
     color: black;
     font-size: 22px;

}

.info-now {
     margin-top: 40px;
     
}
.info-now p{
     padding: 8px 0;
}


@keyframes spin {
     from {
          transform: rotate(0deg);
     }

     to {
          transform: rotate(360deg);
     }
}

@keyframes bounce {
     0% {
          transform: scale(1, 1);
     }

     50% {
          transform: scale(1.1, 1.1);
     }

     100% {
          transform: scale(1, 1);
     }
}