ul li {
     border-radius: 5px;
     padding: 12px;
     margin: 12px auto;
     box-shadow: 0 2px 5px #00000090;
     font-size: 20px;
     font-weight: normal;
     background-color: #ffffff60;
     display: flex;
     justify-content: space-between;
     flex-flow: row nowrap;
}

ul li:nth-child(1),
ul li:nth-last-child(1) {
     margin: 0;

}

ul li div {
     display: flex;
     flex-flow: row nowrap;
     margin: 0;

}

ul li strong {
     font-weight: bold;

}

ul li p {
     padding: 0 10px;
     
}