ul li {
     border-radius: 5px;
     padding: 12px 40px;
     margin: 10px auto;
     box-shadow: 0 0 5px #00000090;
     font-size: 20px;
     font-weight: normal;
     background-color: #ffffff60;
     display: flex;
     justify-content: space-between;
     flex-flow: row nowrap;
}

ul li div {
     display: flex;
     flex-flow: row nowrap;
     margin: 0 20px;

}

ul li strong {
     font-weight: bold;

}

ul li p {
     padding: 0 10px;
}